name: 'build' 
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches: [ master ]


jobs:
  build:
    runs-on: debian:bullseye
    steps:

      - name: Checkout (GitHub)
        uses: actions/checkout@v3

      - name: Build and run dev container task
        uses: devcontainers/ci@v0.3
        with:
          # Change this to be your CI task/script
          runCmd: cd /workspace/angband-nspire/; ./configure-nspire.sh; cd src/; make -f Makefile.nsp -j8
